.delay-1500ms {
  -webkit-animation-delay: 1500ms;
  animation-delay: 1500ms;
}

.delay-1200ms {
  -webkit-animation-delay: 1200ms;
  animation-delay: 1200ms;
}

.delay-900ms {
  -webkit-animation-delay: 900ms;
  animation-delay: 900ms;
}

.delay-800ms {
  -webkit-animation-delay: 800ms;
  animation-delay: 800ms;
}

.delay-700ms {
  -webkit-animation-delay: 700ms;
  animation-delay: 700ms;
}

.delay-500ms {
  -webkit-animation-delay: 500ms;
  animation-delay: 500ms;
}

.delay-300ms {
  -webkit-animation-delay: 300ms;
  animation-delay: 300ms;
}

.delay-100ms {
  -webkit-animation-delay: 100ms;
  animation-delay: 100ms;
}
